.done-wrapper {
  width: 1000px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fafae6;
  text-align: center;
}

.done-message {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.done-sub-message {
  font-size: 15px;
  color:  #3F3D3D;
  margin-bottom: 40px;
}

.done-top-link {
  color: white;
  background-color: #3F3D3D;
  border: 1px solid #3F3D3D;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.4s;
}

.done-top-link:hover {
  background-color: black;
  color: white;
}