<%= render "shared/second-header"%>
<div class="done-wrapper">
  <h1 class="done-message">
    ご注文ありがとうございます！
  </h1>
  <p class="done-sub-message">
    注文を承りました。発送手続きに入ります。
  </p>
  <%= link_to "トップページへもどる", root_path, class:"done-top-link" %>
</div>
