<%= render "shared/header"%>
<div class="cart-wrapper">
  <div class='form-header'>
    <h1 class='form-header-text'>
      ショッピングカート
    </h1>
  </div>
  <p class="cart_blank_message">現在お客様のショッピングカートに商品はありません。</p>
</div>