.login-btn {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}

.login-gray-btn {
  width: 100%;
  background: #3F3D3D;
  border: 0;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.forgot-password {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

.forgot-password a {
  color: black;
}